
.canvas{
	position: absolute;
	z-index: 2;
}

.input{
	position: absolute;
	z-index: 3;
	margin-left: 555px;
	margin-top: 250px;
	width: 200px;
	font-size: 25px;
	border: 2px solid #000000;
}

.submit_button{
	position: absolute;
	z-index: -1;
}